@(tasks: List[Task] = Tasks.findAll,
  users: List[User] = Users.findAll
)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@import helper._

@main("Listing Tasks") {

   <h1>ETT</h1>

   <h1> List of Tasks</h1>
   @tasks.map { task =>
       <p>
       		================================================= <br/>
       		Task Name: @task.name<br/>
       		Task Owner: @{Users.findById(task.owner).name}</br>
       		Task Creation Time: @task.creationTime</br>
       		Task Workflow: @task.workflow</br>
       		Task Last Updated: @task.lastUpdated</br>
       		Task ID: @task.id<br/>
       		Task Owner ID: @task.owner</br>
       		=================================================
       </p>
   }
}
