@(message: String, 
  newForm: Form[Task], 
  workForm: Form[Workflows],
  tasks:   List[(java.util.UUID, String, String, java.sql.Timestamp, java.sql.Timestamp)], 
  owner:   List[String],
  status:  List[String],
  comboBox: List[String]
  )
@import helper._

@*
TODO: Don't have this long List, should be able to define by Task type
*@


@main(message) {

   <h1>ETT</h1>
   <h2>Unintuitive Forms</h2>
   <table cellspacing="20">
   <td>
   @form(routes.TaskController.create) {
       @inputText(newForm("name"))
       @inputText(newForm("owner"))
	   <form action="/task/new" method="POST">
	       <div class="form-actions">
		       <button type="submit">Create a Task</button>
		   </div>
	   </form>
   }
   </td>
   <td>
   @form(routes.TaskController.deleteTask) {
   	   @inputText(newForm("name"))
   	   @inputText(newForm("owner"))
	   <form action="/deleteTask" method="POST">
		   <div class="form-actions">
		       <button type="submit">Delete a Task</button>
		   </div>
	   </form>
   }
   </td>
   <td>
   @form(routes.TaskController.updateTask) {
   	   @inputText(newForm("name"))
   	   @inputText(newForm("owner"))
	   <form action="/tasks" method="POST">
		   <div class="form-actions">
		       <button type="submit">Update a Task</button>
		   </div>
	   </form>
   }
   </td>
   </table>

   <h1> List of Tasks</h1>
   @for( (task,idx) <- tasks.view.zipWithIndex) {
       <h2>
            || Task ID: @task._1 || Owner: @{owner(idx)} || Task: @task._3 || Status: @{status(idx)} || Last Updated: @task._5 ||
       </h2>
       @form(routes.TaskController.updateWorkflow(task._3)) {
           @select(workForm("stage[0]"), options(comboBox))
           @select(workForm("stage[1]"), options(comboBox))
           @select(workForm("stage[2]"), options(comboBox))
           @select(workForm("stage[3]"), options(comboBox))
           
	       <form action="/tasks" method="POST">
			   <div class="form-actions">
			       <button type="submit">Update Status</button>
			   </div>
		   </form>
       }
   }

}

	
	
@*
@(taskForm: Form[Task], users: Map[String, String])
@main("Product Form") {
  @helper.form(action = routes.TaskController.createTask) {
    @helper.textarea((taskForm("name")))
    @helper.select(
        taskForm("owner"),
        helper.options(users)
    )

    <div class="form-actions">
      <button type="submit">Create Task</button>
    </div>
  }
}
*@
