@(message: String, 
  newForm: Form[Task], 
  tasks:   List[(java.util.UUID, String, String, java.sql.Timestamp, java.sql.Timestamp)], 
  owner:   List[String],
  status:  List[String]
  )
@import helper._

@*
TODO: Don't have this long List, should be able to define by Task type
*@


@main(message) {

   <h1>Task Creation</h1>
   @form(routes.TasksController.create) {
       @inputText(newForm("name"))
       @inputText(newForm("owner"))
	   <form action="/task/new" method="POST">
	       <div class="form-actions">
		       <button type="submit">Create a Task</button>
		   </div>
	   </form>
   }
}
