@(task: Task)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@main("Show Tasks") {
	 @tags.flash()
      <p>
        <h1>@task.name</h1>
  		================================================= <br/>
        ID: @task.id<br/>
        Owner: @{Users.find(task.owner).name}</br>
        Owner ID: @task.owner</br>
  		Creation Time: @task.created</br>
  		Last Updated: @task.updated</br>
  		=================================================
       </p>
       
     @helper.form(routes.TasksController.delete(task.name)) {
        <div class="form-actions">
            <button type="submit">Delete Task</button>
       </div>
     }
    <!-- TODO: Show workflow -->
    @helper.form(routes.TasksController.edit(task.id.toString)) {
    <div class="form-actions">
        <button type="submit">Edit Task</button>
    </div>
    }
    @helper.form(routes.TasksController.delete(task.id.toString)) {
    <div class="form-actions">
        <button type="submit">Delete Task</button>
    </div>
    }
}
