@(task: Task,
  users: List[User] = Users.findAll
)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@main("Show Tasks") {
	 @tags.flash()
      <p>
        <h1>@task.name</h1>
  		================================================= <br/>
  		Task Owner: @{Users.find(task.owner) match {
            case Some(obj) => obj.name
            case None => ""
            }
        }</br>
  		Task Creation Time: @task.created</br>
  		Task Last Updated: @task.updated</br>
  		Task ID: @task.id<br/>
  		Task Owner ID: @task.owner</br>
  		=================================================
       </p>
       
     @helper.form(routes.TasksController.delete(task.name)) {
        <div class="form-actions">
            <button type="submit">Delete Task</button>
       </div>
     }
}
@*
<!-- TODO: Show workflow -->
<!-- TODO: delete task -->
<!-- TODO: update a task -->
*@
