@(workflows: List[Workflow] = Workflows.findAll)(implicit session: play.api.mvc.Session)

@import helper._

@main("Listing Tasks") {
    <div class="col-sm-offset-4 col-sm-4">
    <table class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>Workflow Name</th>
        </tr>
        </thead>
        <tbody>
        @workflows.map { workflow =>
            <tr>
                <td>@workflow.name</td>
            </tr>
        }
        </tbody>
    </table>
    </div>
}
