@(workflow: Workflow)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)

@main("Show Workflow") {
	@tags.flash()
      <p>
        <h1>@workflow.name</h1>
  		================================================= <br/>
  		Workflow ID: @workflow.id<br/>
  		<u>Workflow Mapping</u> <br>
  		@Transitions.getLogic(workflow.id).map { case (key, value) =>
  			- @Statuses.idToName(key) -> @value.map { status => @Statuses.idToName(status) }.mkString(", ")<br/>
  		}
  		================================================
       </p>
    @helper.form(routes.WorkflowController.edit(workflow.id.toString)) {
    <div class="form-actions">
        <button type="submit" id="editWorkflow">Edit Workflow</button>
    </div>
    }

    @helper.form(routes.WorkflowController.copy(workflow.id.toString)) {
    <div class="form-actions">
        <button type="submit" id="cloneWorkflow">Clone Workflow</button>
    </div>
    }

     @helper.form(routes.WorkflowController.delete(workflow.name)) {
        <div class="form-actions">
            <button type="submit" id="deleteWorkflow">Delete Workflow</button>
       </div>
     }
}
