@(user: User)(implicit session: play.api.mvc.Session, flash: play.api.mvc.Flash)
@main("User") {
    @tags.flash()
    <p>
    <h1>@user.name</h1>
    ================================================= <br/>
    Id : @user.id<br>
    Name : @user.name<br>
    Email : @user.email<br>
    =================================================
    </p>

    @helper.form(routes.PackagesController.delete(user.id.toString)) {
    <div class="form-actions">
        <button type="submit" id="deleteUser">Delete User</button>
    </div>
    }
}
