@()(implicit flash: play.api.mvc.Flash)
@if(!flash.isEmpty) {
    @if(flash.get("success")) {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @flash("success")
        </div>
    }
    @if(flash.get("failure")) {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @flash("failure")
        </div>
    }
}
