@()(implicit session: play.api.mvc.Session)
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Application.index">Wildbee</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @for(user <- Users.findAll) {
                        <li><a href="@{routes.UsersController.show(user.name)}">@user.name</a></li>
                        }
                        <li class="divider"></li>
                        <li><a href="@routes.UsersController.newUser">Create User</a></li>
                        <li><a href="@routes.UsersController.index">View Users</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @for(task <- Tasks.findAll) {
                        <li><a href="@{routes.TasksController.show(task.name)}">@task.name</a></li>
                        }
                        <li class="divider"></li>
                        <li><a href="@routes.TasksController.newTask">Create Task</a></li>
                        <li><a href="@routes.TasksController.index">View Tasks</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Packages<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @for(pack <- Packages.findAll) {
                            <li><a href="@{routes.PackagesController.show(pack.task.toString,pack.name)}">@pack.name</a></li>
                        }
                        <li class="divider"></li>
                        <li><a href="@routes.PackagesController.newPackage">Create Package</a></li>
                        <li><a href="@routes.PackagesController.index">Show Packages</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workflows<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    	@for(workflow <- Workflows.findAll) {
                    	<li><a href="@{routes.WorkflowController.show(workflow.name)}">@workflow.name</a></li>
                    	}
                    	<li class="divider"></li>
                        <li><a href="@routes.WorkflowController.newWorkflow">Create Workflow</a></li>
                        <li><a href="@routes.WorkflowController.index">View Workflows</a></li>
                    </ul>
                </li>
            </ul>
            @if(!session.get("connected")) {
            <form class="navbar-form navbar-right" action="@{routes.Application.signIn}", method="POST">
                <div class="form-group">
                    <input type="text" placeholder="Email" class="form-control" name="email">
                </div>
                <button type="submit" class="btn btn-success">Sign in (Doesn't work!)</button>
            </form>
            } else {
            <form class="navbar-form navbar-right" action="@{routes.Application.logout}", method="POST">
                <button type="submit" class="btn btn-success">Logout</button>
            </form>
            }
        </div>
    </div>
</div>
