
@(message: String, 
  newForm: Form[Tasks], 
  tasks:   List[(Long, Long, String, java.sql.Timestamp, java.sql.Timestamp)], 
  owner:   List[String])
@import helper._

@*
TODO: Don't have this long List, should be able to define by Task type
*@


@main(message) {

   <h1>ETT</h1>
   @form(action = routes.TaskController.createTask) {
       @inputText(newForm("owner"))
       @inputText(newForm("status"))
	   <form action="/createTask" method="POST">
	       <div class="form-actions">
		       <button type="submit">Create a Task</button>
		   </div>
	   </form>
   }
   @form(action = routes.TaskController.deleteTask) {
   	   @inputText(newForm("owner"))
   	   @inputText(newForm("status"))
	   <form action="/deleteTask" method="POST">
		   <div class="form-actions">
		       <button type="submit">Delete a Task</button>
		   </div>
	   </form>
   }
   @form(action = routes.TaskController.updateTask) {
   	   @inputText(newForm("owner"))
   	   @inputText(newForm("status"))
	   <form action="/tasks" method="POST">
		   <div class="form-actions">
		       <button type="submit">Update a Task</button>
		   </div>
	   </form>
   }

   <h1> List of Tasks</h1>
   @tasks.map { task => 
       <h2>
           || Task ID: @task._1 || Owner: @{owner(task._2.toInt -1)} || Status:  @task._3 || Last Updated: @task._4 ||
       </h2>
   }

}
